<!DOCTYPE HTML>
<html lang="ru">

<head>
    <title>Блог на Flask</title>
    <meta name="description" content="Учебный блог на Flask">
    <meta name="keywords" content="Flask, блог, бобёр">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="/">Flask<span class="logo_colour">учебный блог</span></a></h1>
                <h2>Шаблог позаимствован и используется без комерческих целей</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li class="selected"><a href="/">Главная</a></li>
                <li><a href="/contacts">Контакты</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('posts.allpost') }}"><i class="fa fa-th"></i> Статьи</a></li>
                    <li><a href="{{ url_for('users.user_posts', username=current_user.username) }}"> Статьи {{ current_user.username }}</a></li>                <li><a href="{{ url_for('posts.new_post') }}"><i class="fa fa-plus"></i> Создать статью</a></li>
                    <li><a href="{{ url_for('users.account') }}"><i class="fa fa-user"></i>Профиль</a></li>
                    <li><a href="{{ url_for('users.logout') }}"><i class="fa fa-sign-out"></i>Выйти</a></li>
                {% else %}
                    <li><a href="{{ url_for('users.login') }}">Войти</a></li>
                    <li><a href="{{ url_for('users.register') }}">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div id="banner"></div>
        <div id="sidebar_container">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Последние новости</h3>
                    <h4>Бложек запущен</h4>
                    <h5>18 августа 2022</h5>
                    <p>Мы строили, строили и наконец построили в 2022.<br><a
                            href="#">Читать далее</a></p>
                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Полезные ссылки (возможно когда-то появятся)</h3>
                    <ul>
                        <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li><a href="#">Ссылка 3</a></li>
                        <li><a href="#">Ссылка 4</a></li>
                    </ul>
                </div>
                <div class="sidebar_base"></div>
            </div>
        </div>
        {% block content %}
        Здесь могла бы быть ваша реклама, но не будет ;-)
        {% endblock %}
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        <p><a href="/">Главная</a> | <a href="/contacts">Контакты</a></p>
        <p>Copyright &copy; Bober Inc.</p>
    </div>
</div>
</body>
</html>