{% extends "base.html" %}

{% block content %}
<div id="main_content">
    <h1>Добро пожаловать учебный блог на&nbsp;Flask.</h1>
    <p>Здесь был другой текст но&nbsp;после исправления кодировок я&nbsp;его потерял, так что теперь, здесь это.</p>
    <p>В&nbsp;этом месте тоже был текст, который безвозвратно утрачен, всегда внимательно следите за&nbsp;кодировками файла!</p>
    <p>Тут я&nbsp;писал, что&nbsp;устал выдумывать текст, поэтому перехожу на&nbsp;lorem.</p>
    <h2>Lorem ipsum dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, voluptas:</p>
    <ul>
        <li>Lorem ipsum dolor&nbsp;1</li>
        <li>Lorem ipsum dolor&nbsp;2</li>
        <li>Lorem ipsum dolor&nbsp;3</li>
    </ul>
</div>
{% endblock content %}